body{
	background: white url(http://31.media.tumblr.com/tumblr_liho3jxppP1qhnyjso1_500.gif) repeat top right;
}
#intro{
	border: 2px green solid;
}
.spotlight{
	background-color: yellow; 
}
p{
	color: red;
	text-decoration:underline;
}
h1,h2,h3{
	background:green;
font-family:garamond;
font-size:3em;
text-transform: uppercase;
margin-left: 50px;
margin-top:70px;
border: 5px red dashed; 

}
