p{
	color: red;
	text-decoration:underline;
}
h1,h2,h3{
	background:green;
font-family:garamond;
font-size:3em;
text-transform: uppercase;
margin-left: 50px;
margin-top:70px;
border: 5px red dashed; 

}
